@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
    background-color: rgb(34, 72, 160);
    font-family: Roboto;
    color: white;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

nav {
    text-align: center;
}
nav h3{
    margin-top: 50px;
}
nav button {
    padding: 10px 20px;
}

main {
    background-color: white;
    color: rgb(34, 72, 160);
}

header,
main {
    padding: 50px;
}

main h3,
main h2 {
    text-align: center;
}

#slider {
    display: flex;
}

#slider-input {
    flex-grow: 1;
    margin-right: 15px;
}
#slider button {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

#heatmapContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#heatmap-graphic {
    display: flex;
    flex-direction: col;
    justify-content: center;
    flex-wrap: wrap;
}

#heatmap-graphic > * {
    text-align: center;
}

#stat-title {
    margin-top: 70px;
}

#statistiques,
#periodeContent,
header {
    max-width: 1080px;
    margin: auto;
}

#first-stats,
#second-stats {
    display: flex;
    flex-wrap: wrap;
}

.statistique {
    background-color: rgb(34, 72, 160);
    color: white;
    padding: 25px;
    margin: 0px 10px 10px 10px;
    border-radius: 8px;
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.statLabel {
    flex-grow: 2;
}
.heure {
    font-size: 1.5rem;
}

.moisHeatMap {
    margin-top: 0;
}

.hidden {
    display: none !important;
}
